<div class="deskview">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="banner">
                <div class="text-center title" style="width: 100%;line-height: 700px;font-size: 180px;">Careers</div>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-12">
           <div class="text-center contact" style="color: #0090FF;">WHO ARE WE LOOKING FOR?</div>
           <div class="text-center" style="margin-top: 15px;font: Open Sans;font-size: 22px;font-weight: bold;">If you think, you have at least 2 of the qualities below. We’re looking for you!</div>
           <div style="padding-left: 200px;padding-right: 200px;"><br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="d-flex" style="justify-content: space-around;">
                        <img src="../../assets/check.png" alt="" style="height: 50px;width: 50px;">
                        <div style="margin-top: 15px;font: Open Sans;font-size: 22px;line-height: 15px;">Has a problem solving attitude</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex" style="justify-content: space-around;">
                        <img src="../../assets/check.png" alt="" style="height: 50px;width: 50px;">
                        <div style="margin-top: 15px;font: Open Sans;font-size: 22px;line-height: 15px;">Has a problem solving attitude</div>
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="d-flex" style="justify-content: space-around;">
                        <img src="../../assets/check.png" alt="" style="height: 50px;width: 50px;">
                        <div style="margin-top: 15px;font: Open Sans;font-size: 22px;line-height: 15px;">Has a problem solving attitude</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex" style="justify-content: space-around;">
                        <img src="../../assets/check.png" alt="" style="height: 50px;width: 50px;">
                        <div style="margin-top: 15px;font: Open Sans;font-size: 22px;line-height: 15px;">Has a problem solving attitude</div>
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="d-flex" style="justify-content: space-around;">
                        <img src="../../assets/check.png" alt="" style="height: 50px;width: 50px;">
                        <div style="margin-top: 15px;font: Open Sans;font-size: 22px;line-height: 15px;">Has a problem solving attitude</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex" style="justify-content: space-around;">
                        <img src="../../assets/check.png" alt="" style="height: 50px;width: 50px;">
                        <div style="margin-top: 15px;font: Open Sans;font-size: 22px;line-height: 15px;">Has a problem solving attitude</div>
                    </div>
                </div>
            </div><br>
            <div></div>
            <div style="margin-top: 15px;font: Open Sans;font-size: 22px;margin-left: 25px;">We’re looking out for people who’d make our pack stronger. Prerequisites include – a ton of intent, capacity to multitask, an eye for details and the will to better yourself every day.</div>
           </div><br>
           <div class="d-flex" style="justify-content: center;"><div class="apply"><div class="text-center" style="color:white;font: Open Sans;font-size: 22px;padding: 30px;">We are Hiring, Apply Now</div></div></div>
        </div>
    </div><br><br>
    <div class="row">
        <div class="col-sm-12">
           <div class="text-center contact" style="color: #0090FF;">WHY JOIN SERVICE XPERTZ</div>
           
           <div style="padding-left: 200px;padding-right: 200px;"><br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="d-flex" style="justify-content: space-around;">
                        <img src="../../assets/check.png" alt="" style="height: 50px;width: 50px;">
                        <div style="margin-top: 15px;font: Open Sans;font-size: 22px;line-height: 15px;">Has a problem solving attitude</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex" style="justify-content: space-around;">
                        <img src="../../assets/check.png" alt="" style="height: 50px;width: 50px;">
                        <div style="margin-top: 15px;font: Open Sans;font-size: 22px;line-height: 15px;">Has a problem solving attitude</div>
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="d-flex" style="justify-content: space-around;">
                        <img src="../../assets/check.png" alt="" style="height: 50px;width: 50px;">
                        <div style="margin-top: 15px;font: Open Sans;font-size: 22px;line-height: 15px;">Has a problem solving attitude</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex" style="justify-content: space-around;">
                        <img src="../../assets/check.png" alt="" style="height: 50px;width: 50px;">
                        <div style="margin-top: 15px;font: Open Sans;font-size: 22px;line-height: 15px;">Has a problem solving attitude</div>
                    </div>
                </div>
            </div><br>
           <br>
            <div></div>
            
           </div>
           
        </div>
    </div><br>
    
    <div class="row">
        <div class="col-sm-6">
            <img src="../../assets/aboutUs.png" alt="" style="width: 100%;margin-top: 65px;">
        </div>
        <div class="col-sm-6" style="padding: 65px;">
            <div class="contact">Our Mission</div>
            <div style="margin-top: 15px;font: Open Sans;font-size: 22px;">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. </div>
            <div style="margin-top: 15px;font: Open Sans;font-size: 22px;">Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.</div>
        </div>
    </div>
    <div class="row" style="background: #ECECEC;">
       
        <div class="col-sm-6" style="padding: 65px;">
            <div class="contact">Our Vision</div>
            <div style="margin-top: 15px;font: Open Sans;font-size: 22px;">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. </div>
            <div style="margin-top: 15px;font: Open Sans;font-size: 22px;">Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.</div>
        </div>
        <div class="col-sm-6">
            <img src="../../assets/aboutUs.png" alt="" style="width: 100%;margin-top: 65px;">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="../../assets/aboutUs.png" alt="" style="width: 100%;margin-top: 65px;">
        </div>
        <div class="col-sm-6" style="padding: 65px;">
            <div class="contact">Our Mission</div>
            <div style="margin-top: 15px;font: Open Sans;font-size: 22px;">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. </div>
            <div style="margin-top: 15px;font: Open Sans;font-size: 22px;">Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.</div>
        </div>
    </div>
    <div class="row" style="background: #ECECEC;">
       
        <div class="col-sm-6" style="padding: 65px;">
            <div class="contact">Our Vision</div>
            <div style="margin-top: 15px;font: Open Sans;font-size: 22px;">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. </div>
            <div style="margin-top: 15px;font: Open Sans;font-size: 22px;">Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.</div>
        </div>
        <div class="col-sm-6">
            <img src="../../assets/aboutUs.png" alt="" style="width: 100%;margin-top: 65px;">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="../../assets/handshake.png" alt="" style="width: 100%;margin-top: 65px;">
        </div>
        <div class="col-sm-6" style="padding: 65px;">
            <div class="text-center">
                <h5 style=" margin-bottom: 30px;font-size: 22px;">Register Yourself</h5>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="FULL NAME">
                    </div>
                    <div class="col">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="EMAIL">
                    </div>
                </div>
                <br><br>
                
                <div class="row">
                    <div class="col">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="MOBILE NUMBER">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="POSITION YOUR LOOKING FOR">
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col">
                    <textarea type="email" class="form-control2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="  DESCRIPTION" rows="5" cols="64"></textarea>
                </div>
                
                </div>
                <br>
                <div class="text-center">
                    <button class="submit-info">Submit
                    </button>
                </div>
        </div>
    </div>
    </div>
</div>
    

<!-------------MOBILE VIEW--------------->

<div class="mobview">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner">
                    <div class="text-center title" style="width: 100%;line-height: 300px;font-size: 70px;">Careers</div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-12">
               <div class="text-center contact" style="color: #0090FF;">WHO ARE WE LOOKING FOR?</div>
               <div class="text-center" style="margin-top: 15px;font: Open Sans;font-size: 14px;font-weight: bold;">If you think, you have at least 2 of the qualities below. We’re looking for you!</div>
               <br>
                <div class="row">
                    <div class="col">
                        <div class="d-flex" style="justify-content: space-between;width: 100%;">
                            <img src="../../assets/check.png" alt="" style="height: 25px;width: 25px;margin-right: 5px;">
                            <div style="font: Open Sans;font-size: 11px;margin-top: 5px;">Has a problem solving attitude</div>
                        
                            <img src="../../assets/check.png" alt="" style="height: 25px;width: 25px;">
                            <div style="font: Open Sans;font-size: 11px;margin-top: 5px;">Has a problem solving attitude</div>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col">
                        <div class="d-flex" style="justify-content: space-between;width: 100%;">
                            <img src="../../assets/check.png" alt="" style="height: 25px;width: 25px;margin-right: 5px;">
                            <div style="font: Open Sans;font-size: 11px;margin-top: 5px;">Has a problem solving attitude</div>
                        
                            <img src="../../assets/check.png" alt="" style="height: 25px;width: 25px;">
                            <div style="font: Open Sans;font-size: 11px;margin-top: 5px;">Has a problem solving attitude</div>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col">
                        <div class="d-flex" style="justify-content: space-between;width: 100%;">
                            <img src="../../assets/check.png" alt="" style="height: 25px;width: 25px;margin-right: 5px;">
                            <div style="font: Open Sans;font-size: 11px;margin-top: 5px;">Has a problem solving attitude</div>
                        
                            <img src="../../assets/check.png" alt="" style="height: 25px;width: 25px;">
                            <div style="font: Open Sans;font-size: 11px;margin-top: 5px;">Has a problem solving attitude</div>
                        </div>
                    </div>
                </div><br>
                
                <div style="margin-top: 15px;font: Open Sans;font-size: 14px;">We’re looking out for people who’d make our pack stronger. Prerequisites include – a ton of intent, capacity to multitask, an eye for details and the will to better yourself every day.</div>
               
               <div class="d-flex" style="justify-content: center;margin-top: 15px;"><div class="apply"><div class="text-center" style="color:white;font: Open Sans;font-size: 22px;padding: 30px;">We are Hiring, Apply Now</div></div></div>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-sm-12">
               <div class="text-center contact" style="color: #0090FF;">WHY JOIN SERVICE XPERTZ</div>
               
               <br>
                <div class="row">
                    <div class="col">
                        <div class="d-flex" style="justify-content: space-between;width: 100%;">
                            <img src="../../assets/check.png" alt="" style="height: 25px;width: 25px;margin-right: 5px;">
                            <div style="font: Open Sans;font-size: 11px;margin-top: 5px;">Has a problem solving attitude</div>
                        
                            <img src="../../assets/check.png" alt="" style="height: 25px;width: 25px;">
                            <div style="font: Open Sans;font-size: 11px;margin-top: 5px;">Has a problem solving attitude</div>
                        </div>
                    </div>
                </div><br><br>
                <div class="row">
                    <div class="col">
                        <div class="d-flex" style="justify-content: space-between;width: 100%;">
                            <img src="../../assets/check.png" alt="" style="height: 25px;width: 25px;margin-right: 5px;">
                            <div style="font: Open Sans;font-size: 11px;margin-top: 5px;">Has a problem solving attitude</div>
                        
                            <img src="../../assets/check.png" alt="" style="height: 25px;width: 25px;">
                            <div style="font: Open Sans;font-size: 11px;margin-top: 5px;">Has a problem solving attitude</div>
                        </div>
                    </div>
                </div><br><br>
               <br>
                <div></div>
                
               
               
            </div>
        </div><br>
        
        <div class="row">
            <div class="col-sm-6">
                <img src="../../assets/aboutUs.png" alt="" style="width: 100%;margin-top: 65px;">
            </div>
            <div class="col-sm-6" style="padding: 15px;">
                <div class="contact">Our Mission</div>
                <div style="margin-top: 15px;font: Open Sans;font-size: 12px;">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. </div>
                <div style="margin-top: 15px;font: Open Sans;font-size: 12px;">Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.</div>
            </div>
        </div>
        <div class="row" style="background: #ECECEC;">
            <div class="col-sm-6">
                <img src="../../assets/aboutUs.png" alt="" style="width: 100%;margin-top: 65px;">
            </div>
            <div class="col-sm-6" style="padding: 15px;">
                <div class="contact">Our Vision</div>
                <div style="margin-top: 15px;font: Open Sans;font-size: 12px;">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. </div>
                <div style="margin-top: 15px;font: Open Sans;font-size: 12px;">Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.</div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="../../assets/aboutUs.png" alt="" style="width: 100%;margin-top: 65px;">
            </div>
            <div class="col-sm-6" style="padding: 15px;">
                <div class="contact">Our Mission</div>
                <div style="margin-top: 15px;font: Open Sans;font-size: 12px;">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. </div>
                <div style="margin-top: 15px;font: Open Sans;font-size: 12px;">Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.</div>
            </div>
        </div>
        <div class="row" style="background: #ECECEC;">
            <div class="col-sm-6">
                <img src="../../assets/aboutUs.png" alt="" style="width: 100%;margin-top: 65px;">
            </div>
            <div class="col-sm-6" style="padding: 15px;">
                <div class="contact">Our Vision</div>
                <div style="margin-top: 15px;font: Open Sans;font-size: 12px;">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. </div>
                <div style="margin-top: 15px;font: Open Sans;font-size: 12px;">Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.</div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="../../assets/handshake.png" alt="" style="width: 100%;margin-top: 65px;">
            </div>
            <div class="col-sm-6" style="padding: 65px;">
                <div class="text-center">
                    <h5 style=" margin-bottom: 30px;font-size: 22px;">Register Yourself</h5>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="FULL NAME">
                        </div>
                        <div class="col">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="EMAIL">
                        </div>
                    </div>
                    <br><br>
                    
                    <div class="row">
                        <div class="col">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="MOBILE NUMBER">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="POSITION YOUR LOOKING FOR">
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col">
                        <textarea type="email" class="form-control2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="  DESCRIPTION" rows="5" style="width: 100%;"></textarea>
                    </div>
                    
                    </div>
                    <br>
                    <div class="text-center">
                        <button class="submit-info">Submit
                        </button>
                    </div>
            </div>
        </div>
        </div>
    </div>
        
    