<div class="deskview">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="side-menu" style="margin-top: 50px;">
                <div class="re-direct" style="font-size: 18px;margin-bottom: 20px;">Discover</div>
                <div class="d-flex re-direct" style="justify-content: space-between;margin-bottom: 20px;">
                    <div style="color: white;">Latest Videos</div>
                    <div><i class="fa fa-caret-right"></i></div>
                </div>
                <div class="d-flex re-direct" style="justify-content: space-between;margin-bottom: 20px;">
                    <div style="color: white;">Ac Repair Videos</div>
                    <div><i class="fa fa-caret-right"></i></div>
                </div>
                <div class="d-flex re-direct" style="justify-content: space-between;margin-bottom: 20px;">
                    <div style="color: white;">Home service</div>
                    <div><i class="fa fa-caret-right"></i></div>
                </div>
                <div class="d-flex re-direct" style="justify-content: space-between;margin-bottom: 20px;">
                    <div style="color: white;">Plumbing Videos</div>
                    <div><i class="fa fa-caret-right"></i></div>
                </div>
                <div class="d-flex re-direct" style="justify-content: space-between;margin-bottom: 20px;">
                    <div style="color: white;">Ac Repair Videos</div>
                    <div><i class="fa fa-caret-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12">
                    <div class="contact">Latest Videos</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="../../assets/video.png" alt="" style="width: 300px;margin-top: 35px;">
                    <div class="top">Ac Repair</div>
                    <div class="contact" style="font-size: 23px;">Best of the Week</div>
                </div>
                <div class="col-sm-4">
                    <img src="../../assets/video.png" alt="" style="width: 300px;margin-top: 35px;">
                    <div class="top">Ac Repair</div>
                    <div class="contact" style="font-size: 23px;">Best of the Week</div>
                </div>
                <div class="col-sm-4">
                    <img src="../../assets/video.png" alt="" style="width: 300px;margin-top: 35px;">
                    <div class="top">Ac Repair</div>
                    <div class="contact" style="font-size: 23px;">Best of the Week</div>
                </div>
            </div>
            <div class="top" style="margin-left: 900px;color: black;">View More</div>
            <hr style="color: #525050;width:100%;border: 1px Solid;margin-top: 20px;">
            <div class="row" style="margin-top:55px">
                <div class="col-sm-12">
                    <div class="contact">AC Repair Videos <span style="color: #0090FF;">(10)</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="../../assets/video.png" alt="" style="width: 300px;margin-top: 35px;">
                    <div class="top">Ac Repair</div>
                    <div class="contact" style="font-size: 23px;">Best of the Week</div>
                </div>
                <div class="col-sm-4">
                    <img src="../../assets/video.png" alt="" style="width: 300px;margin-top: 35px;">
                    <div class="top">Ac Repair</div>
                    <div class="contact" style="font-size: 23px;">Best of the Week</div>
                </div>
                <div class="col-sm-4">
                    <img src="../../assets/video.png" alt="" style="width: 300px;margin-top: 35px;">
                    <div class="top">Ac Repair</div>
                    <div class="contact" style="font-size: 23px;">Best of the Week</div>
                </div>
            </div>
            <div class="top" style="margin-left: 900px;color: black;">View More</div>
            <hr style="color: #525050;width:100%;border: 1px Solid;margin-top: 20px;">
            <div class="row" style="margin-top:55px">
                <div class="col-sm-12">
                    <div class="contact">Plumbling Videos <span style="color: #0090FF;">(10)</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="../../assets/video.png" alt="" style="width: 300px;margin-top: 35px;">
                    <div class="top">Ac Repair</div>
                    <div class="contact" style="font-size: 23px;">Best of the Week</div>
                </div>
                <div class="col-sm-4">
                    <img src="../../assets/video.png" alt="" style="width: 300px;margin-top: 35px;">
                    <div class="top">Ac Repair</div>
                    <div class="contact" style="font-size: 23px;">Best of the Week</div>
                </div>
                <div class="col-sm-4">
                    <img src="../../assets/video.png" alt="" style="width: 300px;margin-top: 35px;">
                    <div class="top">Ac Repair</div>
                    <div class="contact" style="font-size: 23px;">Best of the Week</div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 50px;">
        <img src="../../assets/football-video.png" alt="" style="width: 100%;">
    </div>
    <div style="background: #F0F0F0;margin-bottom: 40px;padding: 15px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="contact">Recommended For You</div>
        </div>
    </div>
    
    <div class="row" style="margin-top: 25px;">
        <div class="col-sm-4">
            <div class="d-flex" style="justify-content: space-between;">
                <img src="../../assets/repair-video.png" alt="" style="width: 200px;">
                <div class="d-flex flex-column" style="margin-left: 20px;">
                    <div class="top" style="margin-top:20px">Videos</div>
                    <div class="contact" style="font-size: 23px;">AC Repair: How We do It</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="d-flex" style="justify-content: space-between;">
                <img src="../../assets/repair-video.png" alt="" style="width: 200px;">
                <div class="d-flex flex-column" style="margin-left: 20px;">
                    <div class="top" style="margin-top:20px">Videos</div>
                    <div class="contact" style="font-size: 23px;">AC Repair: How We do It</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="d-flex" style="justify-content: space-between;">
                <img src="../../assets/repair-video.png" alt="" style="width: 200px;">
                <div class="d-flex flex-column" style="margin-left: 20px;">
                    <div class="top" style="margin-top:20px">Videos</div>
                    <div class="contact" style="font-size: 23px;">AC Repair: How We do It</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="col-sm-4">
            <div class="d-flex" style="justify-content: space-between;">
                <img src="../../assets/repair-video.png" alt="" style="width: 200px;">
                <div class="d-flex flex-column" style="margin-left: 20px;">
                    <div class="top" style="margin-top:20px">Videos</div>
                    <div class="contact" style="font-size: 23px;">AC Repair: How We do It</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="d-flex" style="justify-content: space-between;">
                <img src="../../assets/repair-video.png" alt="" style="width: 200px;">
                <div class="d-flex flex-column" style="margin-left: 20px;">
                    <div class="top" style="margin-top:20px">Videos</div>
                    <div class="contact" style="font-size: 23px;">AC Repair: How We do It</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="d-flex" style="justify-content: space-between;">
                <img src="../../assets/repair-video.png" alt="" style="width: 200px;">
                <div class="d-flex flex-column" style="margin-left: 20px;">
                    <div class="top" style="margin-top:20px">Videos</div>
                    <div class="contact" style="font-size: 23px;">AC Repair: How We do It</div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>


<!-------------MOBILE VIEW------------->

<div class="mobview">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="side-menu" style="margin-top: 20px;">
                    <div class="re-direct" style="font-size: 18px;margin-bottom: 20px;">Discover</div>
                    <div class="d-flex re-direct" style="justify-content: space-between;margin-bottom: 20px;">
                        <div style="color: white;">Latest Videos</div>
                        <div><i class="fa fa-caret-right"></i></div>
                    </div>
                    <div class="d-flex re-direct" style="justify-content: space-between;margin-bottom: 20px;">
                        <div style="color: white;">Ac Repair Videos</div>
                        <div><i class="fa fa-caret-right"></i></div>
                    </div>
                    <div class="d-flex re-direct" style="justify-content: space-between;margin-bottom: 20px;">
                        <div style="color: white;">Home service</div>
                        <div><i class="fa fa-caret-right"></i></div>
                    </div>
                    <div class="d-flex re-direct" style="justify-content: space-between;margin-bottom: 20px;">
                        <div style="color: white;">Plumbing Videos</div>
                        <div><i class="fa fa-caret-right"></i></div>
                    </div>
                    <div class="d-flex re-direct" style="justify-content: space-between;margin-bottom: 20px;">
                        <div style="color: white;">Ac Repair Videos</div>
                        <div><i class="fa fa-caret-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col" style="width: 100%;margin-top: 50px;">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="contact">Latest Videos</div>
                    </div>
                </div>
                <div class="d-flex flex-column" style="align-items: center;">
                    <div class="col-sm-4">
                        <img src="../../assets/video.png" alt="" style="width: 300px;margin-top: 35px;">
                        <div class="top">Ac Repair</div>
                        <div class="contact" style="font-size: 23px;">Best of the Week</div>
                        
                            <img src="../../assets/video.png" alt="" style="width: 300px;margin-top: 35px;">
                            <div class="top">Ac Repair</div>
                            <div class="contact" style="font-size: 23px;">Best of the Week</div>
                        
                        
                            <img src="../../assets/video.png" alt="" style="width: 300px;margin-top: 35px;">
                            <div class="top">Ac Repair</div>
                            <div class="contact" style="font-size: 23px;">Best of the Week</div>
                        <div class="d-flex" style="justify-content: center;margin-top: 35px;">
                            <div class="top" style="color: black;">View More</div>
                        </div>
                    </div>
                </div>
                
                
                <hr style="color: #525050;width:100%;border: 1px Solid;margin-top: 20px;">
                <div class="row" style="margin-top:55px">
                    <div class="col-sm-12">
                        <div class="contact">AC Repair Videos <span style="color: #0090FF;">(10)</span></div>
                    </div>
                </div>
                <div class="d-flex flex-column" style="align-items: center;">
                    <div class="col-sm-4">
                        <img src="../../assets/video.png" alt="" style="width: 300px;margin-top: 35px;">
                        <div class="top">Ac Repair</div>
                        <div class="contact" style="font-size: 23px;">Best of the Week</div>
                        
                            <img src="../../assets/video.png" alt="" style="width: 300px;margin-top: 35px;">
                            <div class="top">Ac Repair</div>
                            <div class="contact" style="font-size: 23px;">Best of the Week</div>
                        
                        
                            <img src="../../assets/video.png" alt="" style="width: 300px;margin-top: 35px;">
                            <div class="top">Ac Repair</div>
                            <div class="contact" style="font-size: 23px;">Best of the Week</div>
                        <div class="d-flex" style="justify-content: center;margin-top: 35px;">
                            <div class="top" style="color: black;">View More</div>
                        </div>
                    </div>
                </div>
                <hr style="color: #525050;width:100%;border: 1px Solid;margin-top: 20px;">
                <div class="row" style="margin-top:55px">
                    <div class="col-sm-12">
                        <div class="contact">Plumbling Videos <span style="color: #0090FF;">(10)</span></div>
                    </div>
                </div>
                <div class="d-flex flex-column" style="align-items: center;">
                    <div class="col-sm-4">
                        <img src="../../assets/video.png" alt="" style="width: 300px;margin-top: 35px;">
                        <div class="top">Ac Repair</div>
                        <div class="contact" style="font-size: 23px;">Best of the Week</div>
                        
                            <img src="../../assets/video.png" alt="" style="width: 300px;margin-top: 35px;">
                            <div class="top">Ac Repair</div>
                            <div class="contact" style="font-size: 23px;">Best of the Week</div>
                        
                        
                            <img src="../../assets/video.png" alt="" style="width: 300px;margin-top: 35px;">
                            <div class="top">Ac Repair</div>
                            <div class="contact" style="font-size: 23px;">Best of the Week</div>
                        <div class="d-flex" style="justify-content: center;margin-top: 35px;">
                            <div class="top" style="color: black;">View More</div>
                        </div>
                    </div>
                </div>
                <hr style="color: #525050;width:100%;border: 1px Solid;margin-top: 20px;">
            </div>
        </div>
    
        <div style="margin-top: 30px;">
            <img src="../../assets/football-video.png" alt="" style="width: 100%;">
        </div>
        <div style="background: #F0F0F0;margin-bottom: 40px;padding: 15px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact">Recommended For You</div>
            </div>
        </div>
        
        <div class="row" style="margin-top: 25px;">
            <div class="col-sm-4">
                <div class="d-flex" style="justify-content: space-between;">
                    <img src="../../assets/repair-video.png" alt="" style="width: 150px;">
                    <div class="d-flex flex-column" style="margin-left: 20px;">
                        <div class="top" style="margin-top:20px">Videos</div>
                        <div class="contact" style="font-size: 23px;">AC Repair: How We do It</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex" style="justify-content: space-between;">
                    <img src="../../assets/repair-video.png" alt="" style="width: 150px;">
                    <div class="d-flex flex-column" style="margin-left: 20px;">
                        <div class="top" style="margin-top:20px">Videos</div>
                        <div class="contact" style="font-size: 23px;">AC Repair: How We do It</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex" style="justify-content: space-between;">
                    <img src="../../assets/repair-video.png" alt="" style="width: 150px;">
                    <div class="d-flex flex-column" style="margin-left: 20px;">
                        <div class="top" style="margin-top:20px">Videos</div>
                        <div class="contact" style="font-size: 23px;">AC Repair: How We do It</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 25px;">
            <div class="col-sm-4">
                <div class="d-flex" style="justify-content: space-between;">
                    <img src="../../assets/repair-video.png" alt="" style="width: 150px;">
                    <div class="d-flex flex-column" style="margin-left: 20px;">
                        <div class="top" style="margin-top:20px">Videos</div>
                        <div class="contact" style="font-size: 23px;">AC Repair: How We do It</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex" style="justify-content: space-between;">
                    <img src="../../assets/repair-video.png" alt="" style="width: 150px;">
                    <div class="d-flex flex-column" style="margin-left: 20px;">
                        <div class="top" style="margin-top:20px">Videos</div>
                        <div class="contact" style="font-size: 23px;">AC Repair: How We do It</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex" style="justify-content: space-between;">
                    <img src="../../assets/repair-video.png" alt="" style="width: 150px;">
                    <div class="d-flex flex-column" style="margin-left: 20px;">
                        <div class="top" style="margin-top:20px">Videos</div>
                        <div class="contact" style="font-size: 23px;">AC Repair: How We do It</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    